<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Ipoint</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/responsive.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/colors.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/bootstrap-select.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/perfect-scrollbar.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='b/custom.css')}}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>

    <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a><img class="logo_icon img-responsive" src="{{ url_for('static', filename='gambar/mahasiswa.png')}}" alt="" /></a>
                     </div>
                  </div>
               </div>
               <div class="sidebar_user_info">
                  <div class="icon_setting"></div>
                  <div class="user_profle_side">
                     <div class="user_img"><img class="img-responsive" src="{{ url_for('static', filename='gambar/mahasiswa.png')}}" alt="#" /></div>
                     <div class="user_info">
                        <h6> {{session.username}} </h6>
                        <p><span class="online_animation"></span> Online</p>
                     </div>
                  </div>
               </div>
               <div class="sidebar_blog_2">
                  <h4 style='text-align: center;'>Ipoint</h4>
                  <ul class="list-unstyled components">
                     <li>
                        <a href="/dashboard"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                     </li>
                     <li>
                        <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></a>
                     </li>
                     <li class="active">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-binoculars" aria-hidden="true"></i> <span>Dashboard</span></a>
                        <ul class="collapse list-unstyled" id="dashboard">
                           <li>
                              <a href="/forumsaya"><span> > Forum saya </span></a>
                           </li>
                           <li>
                              <a href="/forum"> <span> > Semua forum</span></a>
                           </li>
                        </ul>
                     <li>
                        <a href="/pengguna"><i class="fa fa-users" aria-hidden="true"></i> <span>Daftar Pengguna</span></a>
                     </li>
                  </ul>
               </div>
            </nav>
            <div id="content">
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars" aria-hidden="true"></i> </button>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <ul class="user_profile_dd">
                                 <li>
                                    <a href="/logout"><span class="name_user"> Keluar </span></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>
               <div class="midde_cont"> <br>
                    <div class="row column4 graph">
                        <div class="col-md-12">
                            <div class="dash_blog">
                                <div class="dash_blog_inner">
                                    <div class="dash_head">
                                       <h3><span> Forum </span><span class="plus_green_bt"><a href="/daftarforum">+</a></span></h3>
                                    </div>
                                    <div class="list_cont">
                                        <p>Forum Saya</p>
                                    </div>
                                    <form class="task_list_main" action="{{ url_for('forumsaya') }}" method="POST">
                                       <ul class="task_list">
                                          {% for a in data %}
                                          <a href="{{ url_for('pesan', id=a['id']) }}">
                                             <li>
                                                Dibuat oleh : {{a.nama}} ({{a.jabatan}}) <br><br> 
                                                <h4> 
                                                   {{a.judul_forum}}
                                                </h4>
                                             </li>
                                          </a>
                                          {% endfor %}
                                       </ul>
                                    </form>
                                    <div class="task_list_main">
                                        <ul class="task_list">
                                       </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container-fluid">
                    <div class="footer">
                        <p>
                           Universitas Jenderal Achmad Yani Yogyakarta</a>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='b/a/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/animate.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/bootstrap-select.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/owl.carousel.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/Chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/utils.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/analyser.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/perfect-scrollbar.min.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/chart_custom_style1.js')}}"></script>
    <script src="{{ url_for('static', filename='b/a/js/custom.js')}}"></script>
    </body>
</html>